.dashboard {
    border: 1px solid black;
    padding: 20px;
    width: 25vw;
    height: 80vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: white;
    z-index: 3000;
}

.dashboard-title {
    border: 1px solid black;
    padding: 5px;
    opacity: 1;
    z-index: 4000;
}

.titleSelectorCopyTextarea, .chaptersSelectorCopyTextarea {
    width: 100%;
}

.hidden {
    display: none;
}

.menuItem {
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
}

.menuContainer, .titleSectionContainer, .chaptersSectionContainer {
    margin-bottom: 10px;
}

.titleSectionContainer div, .chaptersSectionContainer div {
    margin-bottom: 5px;
}

.inDb { background-color: lightgreen; }
.notInDb { background-color: lightcoral; }