.margin-top-tiny { margin-top: 1rem !important; }
.margin-top-small { margin-top: 2rem !important; }
.margin-top-medium { margin-top: 3rem !important; }
.margin-top-large { margin-top: 4rem !important; }
.margin-top-huge { margin-top: 5rem !important; }
.margin-top-massive { margin-top: 6rem !important; }


.margin-bottom-tiny { margin-bottom: 1rem !important; }
.margin-bottom-small { margin-bottom: 2rem !important; }
.margin-bottom-medium { margin-bottom: 3rem !important; }
.margin-bottom-large { margin-bottom: 4rem !important; }
.margin-bottom-huge { margin-bottom: 5rem !important; }
.margin-bottom-massive { margin-bottom: 6rem !important; }

.note {
    margin-bottom: 5rem;
}
