.margin-top-tiny { margin-top: 1rem !important; }
.margin-top-small { margin-top: 2rem !important; }
.margin-top-medium { margin-top: 3rem !important; }
.margin-top-large { margin-top: 4rem !important; }
.margin-top-huge { margin-top: 5rem !important; }
.margin-top-massive { margin-top: 6rem !important; }


.margin-bottom-tiny { margin-bottom: 1rem !important; }
.margin-bottom-small { margin-bottom: 2rem !important; }
.margin-bottom-medium { margin-bottom: 3rem !important; }
.margin-bottom-large { margin-bottom: 4rem !important; }
.margin-bottom-huge { margin-bottom: 5rem !important; }
.margin-bottom-massive { margin-bottom: 6rem !important; }

.inline-block { display: inline-block !important; }
.display-none { display: none !important; }

.html5.icon { color: #e34f26; }
.css3.icon { color: #3269E8; }
.js.icon { color: #f7df1e; }
.node.icon { color: #6cc24a; }
.sass.icon { color: #c69; }


.note {
    margin-bottom: 5rem;
}

.courses-source {
    margin-bottom: 6rem;
}

.codify-text {
    font-size: 1.5rem !important;
    letter-spacing: 2px;
    font-family: Courier, monospace !important;
}

#code-input-textarea {
    background-color: #333;
    color: #ddd;
    font-size: 1rem;
    font-family: Courier, monospace;
    letter-spacing: 1px;
}

#code-input-textarea::selection {
    background-color: #c6ddf1;
}

.code-input-controls {
    text-align: center;
}

.code-button:hover i {
    color: #333;
}

.html-oneline {
    background-color: aquamarine;
}